
<section>
  
            <h2>Inventory management System</h2>
            <p>
                Inventory Management System provides a comprehensive solution for managing your business's inventory. Users can easily add items, vendors, and customers, as well as create purchase and sales. The system also allows for real-time monitoring of stock levels and provides access to detailed transaction history, ensuring that you can make informed decisions based on your inventory data.
            </p>
    <div class="col-12 d-flex justify-content-center align-items-center m-5" style=" gap: 100px;">
        
    </div>


        
  

  
</section>
</html>